* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100% ! important;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    h1 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.box {
    border-style: double;
    border-color: black;
    padding: 15px;
}

.inputContainer {
    margin-bottom: 20px;
}

main {
    margin-bottom: 32vh;
}