.checkoutWindow {
    position: fixed;
    height: 80vh;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 248, 244);
    align-items: center;
    border-style: double;
    border-color: black;
    overflow: scroll;
}

#checkoutHeader {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    gap: 8%;
    align-items: flex-end;
}

#checkoutMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 50%;
    justify-content: center;
    gap: 8%;
    overflow: scroll;
    flex-grow: 1;
}

.cartItem {
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
    margin-top: 30px;
}

.cartTotal {
    margin-top: 30px;
}

#closeCheckout {
    position: absolute;
    top: 50px;
    right: 50px;
}

.checkoutBtnContainer {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}